body {
  background-image: url(components/images/wood.jpg);
  background-size: cover;
  text-align: center;
  color: rgb(135, 129, 129);
}

.header-main {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name {
  text-align: left;
  padding: 20px;
  max-width: 35%;
}

.title {
  text-align: right;
}

h1 {
  font-size: 42px;
}

.links {
  text-align: right;
  padding: 10px;
}

a {
  color: red;
  text-decoration: none;
  padding: 5px;
}

a:hover {
  color: black;
  background-color: red;
}

p {
  text-align: left;
  margin: 0 auto;
  max-width: 65%;
}

.projects {
  margin: 20px auto;
  padding: 20px;
  background: rgb(0, 0, 0, 0.5);
  max-width: 65%;
}

img {
  max-width: 50%;
  padding: 20px;
}

footer {
  font-size: 12px;
  padding: 20px;
  left: 0;
  bottom: 0;
  width: 100vw;
}

@media only screen and (max-width: 650px) {
  section {
    max-width: 500px;
  }
}