body {
  background-image: url(components/images/wood.jpg);
  text-align: center;
  color: rgb(135, 129, 129);
}

a {
  color: red;
}

.projects {
  margin: 20px auto;
  padding: 20px;
  background: rgb(0, 0, 0, 0.5);
  max-width: 65%;
}

img {
  max-width: 50%;
  padding: 20px;
}

footer {
  padding: 20px;
  left: 0;
  bottom: 0;
  width: 100vw;
}

@media only screen and (max-width: 650px) {
  section {
    max-width: 500px;
  }
}